@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './base/bootstrap';
@import './base/bootstrap-extended';
@import './base/colors';
@import './base/components';
@import './base/core/menu/menu-types/vertical-menu.scss';
@import './base/themes/dark-layout.scss';
@import './base/plugins/tables/datatables';
@import './base/pages/app-ecommerce';
@import './base/pages/app-ecommerce-details';
@import './base/pages/app-chat.scss';
@import './base/pages/app-chat-list.scss';

.scroll-area::-webkit-scrollbar{
    width: 0 !important;
}

.select-search-area label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

.select-search-area select {
    width: 5rem;
    background-position: calc(100% - 3px) 11px, calc(100% - 20px) 13px, 100% 0;
    margin: 0 0.5rem;
    display: inline-block;
}

.select-search-area input {
    margin-left: 0.75rem;
    width: auto;
    display: inline-block;
}

.main-menu .main-menu-content, .vertical-overlay-menu.menu-hide .main-menu .main-menu-content{
    height: calc(100vh - 4.45rem) !important;
    overflow-x: scroll !important;
}



[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #000000ba;
    color: #fff;
    font-size: 10px;
    position: absolute;
    padding: 7px 10px;
    bottom: 17px;
    left: 0;
    border-radius: 5px 5px 5px 0px;
    white-space: nowrap;
    opacity: 0;
    border: none !important;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
.btn-undefined{
    border: none !important;
    border-radius: 0 !important;
}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
    border: none !important;
}
.ck-editor{
    border:1px solid #eae9ed !important;
}
.ck-reset_all :not(.ck-reset_all-excluded *), .ck.ck-reset, .ck.ck-reset_all{
    background: #FFFFFF !important;
}
.ck.ck-toolbar{
    border:none !important;
}
